.aClass{
    background-color: yellow;
}
#redTextWithId{
    color: red;
}
img {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: blue; 
}
table {
    border-collapse: collapse;
}
table td, th {
    border: 1px solid black;
}
li:nth-child(odd) {
    color: purple;
}
.myWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}
.myWrapper div {
    width: 200px;
    border: 1px solid black;
}
.myWrapper div:nth-child(odd) {
    background-color: pink;
}
